{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Carrito de Compras</title>
    <style>
        body {
            background-image: url("{{ MEDIA_URL }}fondo/Witch.jpeg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <header class="header">
        <div class="wrap">
            <button class="button"><a href="{% url 'home' %}" class="button2 b-blue rot-135">Salir</a></button>
        </div>
    </header>

    <main class="main">
        <h1>Carrito de Compras</h1>

        {% if items %}
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Precio Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.producto.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>${{ item.producto.precio }}</td>
                    <td>${{ item.get_total_item_price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="cart-summary">
            <p>Total: ${{ total }}</p>
            <a class="btn checkout" href="{% url 'generar_factura' %}">Generar Factura</a>
        </div>
        {% else %}
        <p>Tu carrito está vacío.</p>
        {% endif %}

    </main>

    <footer class="footer">
        <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
