{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/styles_reg.css' %}">
</head>

<body class="align">
    <nav>
        <!-- <button class="close"></button> -->
        <a href="{% url 'home' %}" class="button2 b-blue rot-135">Salir</a>
        <!-- <a class="exit" href=""></a> -->
    </nav>
    <header class="header">
        <h1>Regístrate en</h1>
        <p>Crea una cuenta para acceder a nuestras ofertas exclusivas.</p>
    </header>

    <div class="grid">
        <form class="form login" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form__field">
                <input class="submit-btn" type="submit" value="Registrarse">
            </div>
        </form>
        <p class="text--center">¿Ya eres miembro? <a href="{% url 'logs' %}">Inicia sesión</a></p>
    </div>
</body>

</html>